.image2Icon {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  object-fit: cover;
}
.makeResponsiveOn {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.todoincomplete {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  text-align: left;
  font-size: 18px;
  color: #dadada;
  font-family: Inter;
}
