.toDo,
.userFeedbackTomorrow {
  align-self: stretch;
  position: relative;
  font-weight: 800;
}
.userFeedbackTomorrow {
  font-size: 16px;
  font-weight: 700;
  color: #9494b8;
}
.titleNotes {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
.div {
  position: relative;
  font-weight: 800;
}
.emoji,
.header {
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.emoji {
  border-radius: 6px;
  background-color: #24242d;
  border: 1px solid #29292f;
  flex-direction: column;
  padding: 16px;
  text-align: center;
  font-size: 24px;
  color: #000;
}
.header {
  align-self: stretch;
  flex-direction: row;
  gap: 16px;
  font-size: 56px;
}
.divider,
.image1Icon {
  position: relative;
  flex-shrink: 0;
}
.divider {
  align-self: stretch;
  background-color: #434343;
  height: 1px;
}
.image1Icon {
  width: 24px;
  height: 24px;
  object-fit: cover;
}
.finishDesigns {
  flex: 1;
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.todocomplete,
.todocomplete1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  color: #7d7d94;
}
.todocomplete1 {
  color: #dadada;
}
.addToDo {
  border: 0;
  font-weight: 500;
  font-family: Inter;
  font-size: 18px;
  background-color: transparent;
  align-self: stretch;
  position: relative;
  line-height: 24px;
  color: #7d7d94;
  text-align: left;
}
.toDoListDesign,
.todolistcontainer {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.todolistcontainer {
  flex: 1;
  background-color: #1e1f25;
  flex-direction: column;
  padding: 64px;
  gap: 26px;
}
.toDoListDesign {
  position: relative;
  width: 100%;
  flex-direction: row;
  text-align: left;
  font-size: 18px;
  color: #fff;
  font-family: Inter;
}
@media screen and (max-width: 960px) {
  .toDo {
    font-size: 36px;
  }
  .toDo,
  .userFeedbackTomorrow {
    text-align: center;
  }
  .titleNotes {
    flex: unset;
    align-self: stretch;
  }
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
}
